<!-- パスワード設定部分 -->
<h4>パスワードの設定</h4>
<p>まず、貴方の趣味を秘密にするためのパスワードを入力してください！<br>
パスワードには半角英数字のみ使用できます。</p>
<%= form_tag("/user/first_password") do %>
  <input pattern="^[0-9A-Za-z]+$" name="group_password" type="password" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <hr>
<h4>趣味の設定</h4>
<p>あなたの趣味を設定してください！こちらは後ほどマイページにて設定できるため空欄でも構いません！</p>
<p>ここにない趣味は後ほどマイページにて設定できます！</p>

<ul>
  <li><%= check_box "hobby_name", "スポーツ" %>スポーツ</li>
  <li><%= check_box "hobby_name", "映画" %>映画</li>
  <li><%= check_box "hobby_name", "ゲーム" %>ゲーム</li>
  <li><%= check_box "hobby_name", "アニメ" %>アニメ</li>
  <li><%= check_box "hobby_name", "開発" %>開発</li>
</ul>
  <input type="submit" value="設定する！">
<% end %>
