<h1>ここはユーザのマイページです</h1>
<h2>あなたのユーザ名は<%= @user_name %>です</h2>
<!-- ユーザー名の変更 -->
<h3>ユーザー名変更</h3>
<%= form_tag("/user/name_change") do %>
  <input name="user_name" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="名前を変更する">
  <input type="reset" value="リセット">
<% end %>

<!-- パスワード設定部分 -->
<h3>パスワード設定</h3>
<%= form_tag("/user/group_password") do %>
  <input pattern="^[0-9A-Za-z]+$"　name="group_password" type="password" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="パスワードを設定する">
  <input type="reset" value="リセット">
<% end %>

<h3>あなたが登録している趣味</h3>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<ol>
  <% @users_hobbies.each do |hname| %>
  <li>
    <%= "#{hname.hobby_name}" %>
  </li>
  <% end %>
</ol>

<h3>趣味の登録</h3>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<%= form_tag("/user/newhobby") do %>
  <input name="hobby_name" required>
  <br>
  <p></p><!--表示をよくするための空行-->
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="趣味を登録する">
  <input type="reset" value="入力内容をリセットする">
<% end %>

<br>
<h3>あなたの所属してるグループ</h3>
<!-- 所属しているグループ名の一覧を表示 -->
<h3>グループ名</h3>
<ol>
  <% @belong_group_name.each do |gname| %>
  <li>
    <%= link_to "#{gname.group_name}","/user/show/#{@user_id}/#{gname.id}" %>
  </li>
  <% end %>
</ol>

<hr>
<p>ここはあなたのマイページです。<br>
ここではあなたのユーザ名を変更したり、<br>
共有したい趣味を登録することができます。<br>
自分と同じ趣味を持つ仲間を知りたい場合は、<br>
『あなたの所属してるグループ』からグループを選択して下さい。<br>
パスワードは半角英数字のみ使用できます。</p>
