<style type="text/css">
  table {
  counter-reset: rowCount;
}

table > tbody > tr {
  counter-increment: rowCount;
}

table > tbody > tr > td:first-child::before {
  content: counter(rowCount);
}

p.caution {
  color: red;
}

</style>

<h1>ここは<%= @user_name %>さんのマイページです</h1>

<h3>あなたの所属してるグループ</h3>
<p><small>グループ名をクリックして共通する趣味をチェック！</small></p>
<!-- 所属しているグループ名の一覧を表示 -->
<table>
  <% @belong_group_name.each do |gname| %>
  <tr>
    <td>.</td>
    <td>
    <%= link_to "#{gname.group_name}","/user/show/#{@user_id}/#{gname.id}" %>
    <%= form_tag("/user/group_delete") do %>
    </td>
    <!-- 趣味の削除ボタン -->
    <td>
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <input type="hidden" name="group_id" value="<%= gname.id %>">
    <input type="submit" value="グループから抜ける">
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<p class="caution"><small>※所属しているグループが無くなるとユーザの情報も削除されます</small></p>

<h3>あなたが登録している趣味</h3>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<table>
  <% @users_hobbies.each do |hname| %>
  <tr>
    <td>.</td>
    <td>
    <%= "#{hname.hobby_name}" %>
    </td>
    <!-- 趣味の削除ボタン -->
    <td>
    <%= form_tag("/user/hobby_delete") do %>
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <input type="hidden" name="hobby_id" value="<%= hname.id %>">
    <input type="submit" value="削除">
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<h4>趣味の登録</h4>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<%= form_tag("/user/newhobby") do %>
  <input name="hobby_name" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="趣味を登録する">
  <input type="reset" value="入力内容をリセットする">
<% end %>
<br>
<!-- プルダウンメニューで人(user.nameを表示)を選択させて、選択された人のIDを/user/show/にpostで送信-->
<%= form_tag("/user/newhobby") do %>
<select name="hobby_name"required>
  <option value="">おすすめ趣味一覧</option>
  <option value="スポーツ">スポーツ</option>
  <option value="映画">映画</option>
  <option value="ゲーム">ゲーム</option>
  <option value="アニメ">アニメ</option>
  <option value="開発">開発</option>
</select>
<input type="hidden" name="user_id" value="<%= @user_id %>">
<input type="submit" value="登録">
<% end %>
<hr>
<!-- ユーザー名の変更 -->
<h4>ユーザー名変更</h4>
<%= form_tag("/user/name_change") do %>
  <input name="user_name" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="名前を変更する">
  <input type="reset" value="リセット">
<% end %>

<!-- パスワード設定部分 -->
<h4>パスワード設定</h4>
<%= form_tag("/user/group_password") do %>
  <input pattern="^[0-9A-Za-z]+$" name="group_password" type="password" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="パスワードを設定する">
  <input type="reset" value="リセット">
<% end %>

<br>

<hr>
<p>ここはあなたのマイページです。<br>
ここではあなたのユーザ名を変更したり、<br>
共有したい趣味を登録することができます。<br>
自分と同じ趣味を持つ仲間を知りたい場合は、<br>
『あなたの所属してるグループ』からグループを選択して下さい。<br>
パスワードは半角英数字のみ使用できます。</p>
