<style type="text/css">
/*  table {
  counter-reset: rowCount;
}

table > tbody > tr {
  counter-increment: rowCount;
}

table > tbody > tr > td:first-child::before {
  content: counter(rowCount);
}*/

p.caution {
  color: red;
}

</style>

<script type="text/javascript">
	function subcheck() {
		if (window.confirm('本当に削除しますか')) {
			return true;
		} else {
      window.alert('キャンセルされました'); // 警告ダイアログを表示
		  return false; // 送信を中止
		}
	}
</script>

<h1>ここは<%= @user_name %>さんのマイページです</h1>

<!-- パスワード設定部分 -->
<h4>パスワードの設定</h4>
<p>パスワードを設定するとこのページにアクセスする為にパスワードが必要になります。<br>
パスワードには半角英数字のみ使用できます。</p>
<%= form_tag("/user/group_password") do %>
  <input pattern="^[0-9A-Za-z]+$" name="group_password" type="password" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="パスワードを設定する">
  <input type="reset" value="リセット">
<% end %>

<hr>

<h3>グループから同じ趣味の人を探す</h3>

<!-- 所属しているグループ名の一覧を表示 -->
<table>
  <% @belong_group_name.each do |gname| %>
  <tr>
    <td></td>
    <td align="center">
    <small>グループ名:</small><span><strong><%= "#{gname.group_name}" %></strong></span>
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="center">
    <button type="button"onclick="location.href='<%= "/user/show/#{@user_id}/#{gname.id}" %>'"style="width:200px; height:28px;">同じの趣味の人を探す！</button>
  </td>
  </tr>
  <tr>
    <td></td>
    <td><p class="caution"><small>※グループから抜けるとユーザの情報も消えます。</small></p></td>
  </tr>
  <tr>
    <td></td>
    <td align="center">
    <%= form_tag("/user/group_delete") do %>
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <input type="hidden" name="group_id" value="<%= gname.id %>">
    <input type="submit" value="グループから抜ける" onclick="return subcheck()">
    <% end %>
    </td>
  </tr>
  <% end %>
</table>


<hr>

<h3>あなたが登録している趣味</h3>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<table>
  <% @users_hobbies.each do |hname| %>
  <tr>
    <td>.</td>
    <td>
    <%= "#{hname.hobby_name}" %>
    </td>
    <!-- 趣味の削除ボタン -->
    <td>
    <%= form_tag("/user/hobby_delete") do %>
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <input type="hidden" name="hobby_id" value="<%= hname.id %>">
    <input type="submit" value="削除" onclick="return subcheck()">
    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<h4>趣味の登録</h4>
<p>ここで共有したい趣味を登録することができます。</p>
<!-- ここにユーザが登録してある趣味を全て表示する -->
<%= form_tag("/user/newhobby") do %>
  <input name="hobby_name" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="趣味を登録する">
  <input type="reset" value="入力内容をリセットする">
<% end %>
<br>
<p>共有したい趣味が思いつかない？そんな人の為にこちらがいくつか登録する趣味を提案いたします！<br>
下のメニューから自分の趣味と合うものを選んでください。</p>
<!-- プルダウンメニューで人(user.nameを表示)を選択させて、選択された人のIDを/user/show/にpostで送信-->
<%= form_tag("/user/newhobby") do %>
<select name="hobby_name"required>
  <option value="">おすすめ趣味一覧</option>
  <option value="スポーツ">スポーツ</option>
  <option value="映画">映画</option>
  <option value="ゲーム">ゲーム</option>
  <option value="アニメ">アニメ</option>
  <option value="開発">開発</option>
</select>
<input type="hidden" name="user_id" value="<%= @user_id %>">
<input type="submit" value="登録">
<% end %>

<hr>

<!-- ユーザー名の変更 -->
<h4>ユーザー名の設定</h4>
<p>ここではユーザ名を変更することができます。</p>
<%= form_tag("/user/name_change") do %>
  <input name="user_name" required>
  <input type="hidden" name="user_id" value="<%= @user_id %>">
  <input type="submit" value="名前を変更する">
  <input type="reset" value="リセット">
<% end %>
