<h2><%= Group.find(@gid).group_name %></h2>
<% @results_seikei.each do |p| %>
<%= p %><br>
<% end %>
<h3><%= Group.find(@gid).group_name %>に所属しているメンバー</h3>
<% @group_user_all.each do |p| %>
<%= p %><br>
<% end %>

<%= link_to "マイページへ戻る" , "/user/mypage/#{@id}" %>
