<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">使い方</h1>
        <p class="lead mb-5 text-white-50">Hobbyshareの使い方をわかりやすく解説！</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container main">
  <!-- スマートフォンでの閲覧を想定しているなら、掲載するスクリーンショットも
  スマートフォンで表示した画面が望ましい（現在はPCブラウザで閲覧した画像を掲載）-->
  <div class="row">
    <div class="col-md-8 mb-5">
      <div class="how_to">
        <h3>1.グループを作りましょう！</h3>
        <%= image_tag 'group_young_people.png', :size =>'267x212'%>
        <p>まずは知り合い同士で集まり、グループを作りましょう。</br>
        グループを作成ボタンを選択して、趣味を共有したい人同士で集まるグループを作ります</p>
        <h3>2.友達をグループに招待しましょう！</h3>
        <p>グループを作成したら、QRコードやグループのリンクを仲間の人と共有しましょう</p>
        <h3>3.共有したい趣味を登録しましょう！</h3>
        <%= image_tag 'how_to_3-1.png', :size =>'236x250', :border =>'1'%>
        <p>グループに参加したら、「趣味の登録・設定」から仲間内で共有したい趣味を登録しましょう</p>
        <br>
        <%= image_tag 'how_to_3-2.png', :size =>'236x250'%>
        <p>上の画像の入力フォームで趣味を登録することができます<br>
        登録時に「公開」に設定しておくとグループ全員に趣味が公開されます</p>
        <%= image_tag 'how_to_3-3.png', :width =>'320'%>
        <p>登録した趣味の「詳細」ボタンから任意の別名を登録できます<br>
        別名を登録しておくことで表記揺れにも対応することができます<br>
        また、登録後の公開・非公開の設定の切り替えもここから行えます</p>
        <h3>4.同じ趣味を持つ人を探しましょう！</h3>
        <%= image_tag 'how_to_4.png', :size =>'236x250'%>
        <p>趣味が登録できたらいよいよ自分と同じ趣味を持つ人がいるか確認しましょう<br>
        ページ上部にある「趣味の共有」ボタンを押すとマッチングができます</p>
        <br>
        <p>それでは早速グループを作ってみましょう！</p>
        <button class="btn btn-primary btn-lg" type="button"onclick="location.href='make'">グループ作成</button>
        <hr>
        <h3>アカウント作成</h3>
        <p>
          Hobbyshareはアカウント登録しないでも使えますが、アカウントを作成するとより便利に使えるようになります。
        </p>
        <ul>
          <li>Cookieを削除してしまっても自分の情報を編集することができるようになります。</li>
          <li>PCやスマホなど複数の端末でHobbyshareを使うことができます。</li>
          <li>アカウントに趣味を登録しておくことで、新たにグループに参加した際にアカウントの趣味情報を一括で登録することができます。</li>
        </ul>
      </div>
    </div>
  </div>

</div>
