<h1>グループメンバー一覧表示のページです</h1>

<h3><%= Group.find(@gid).group_name %>に所属しているメンバー</h3>
<p>ユーザ名の右にあるボタンを押すと、マイページに移動します。<br>
マイページに移動したらまずはパスワードを設定してください。<br>
既にパスワードを設定してある場合は入力フォームにパスワードを入力してください。</p>
<!-- group_user_allに格納したレコードのうち、ユーザ名は表示に、IDをリンクに利用する -->
<ol>
<% @group_user_all.each do |user| %>
  <%= form_tag("/user/group_login") do %>
    <li>
      <%= user.name %>
      <input type="hidden" name="user_id" value="<%= user.id%>">
      <input type="hidden" name="group_id" value="<%= @gid %>">
      <input pattern="^[0-9A-Za-z]+$" type="password" name="group_password">
      <input type="submit" value="マイページに移動">
    </li>
  <% end %>
<% end %>
</ol>
<br>
<hr>
<h3>まだグループに参加してない人はここからメンバー追加</h3>
<%= link_to 'グループに参加する！', "/group/#{@gid}/add_member" %>
