<header class="bg-info py-5 mb-5">
  <div class="container h-100">
    <div class="h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-5 text-white mt-1 mb-1"><%= @group_name %>のメンバーリスト</h1>
      </div>
    </div>
  </div>
</header>
<div class="container main">
  <!-- セッションのアカウントIDを確認して、あるかないかで分岐 -->
  <% if @login_uid == nil %>
  <button class="btn btn-primary btn-lg" type="button"onclick="location.href='/group/add_member/<%=@group_token%>'">このグループに参加する</button>
  <% else %>
  <div style="font-size: 1.5em;">
    <strong><%= @login_uname %></strong>としてこのグループに参加しています
  </div>
  <br>
  <% if @hobby_haven == 'true'%>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div style="flex:0 0 auto; align-self: center; margin-right: 5px;">
      <button class="btn btn-success btn-lg" type="button"onclick="location.href='/user/show/<%=@login_user_token%>'">同じ趣味を持つ人を探す<i class="fas fa-search" style="margin-left:3px;"></i></button>
    </div>
    <div style="flex:0 0 auto; align-self: center; margin:5px 0px 5px 0px;">
      <button class="btn btn-primary btn-bg" type="button"onclick="location.href='/user/mypage/<%=@login_user_token%>'">趣味の登録・設定<i class="fas fa-cog" style="margin-left:2px;"></i></button>
    </div>
  </div>
  <% else %>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div style="flex:0 0 auto; align-self: center; margin-right: 5px;">
      <button class="btn btn-secondary btn-bg" type="button" onclick="">まだ趣味が登録されていません</button>
    </div>
    <div style="flex:0 0 auto; align-self: center; margin:5px 0px 5px 0px;">
      <button class="btn btn-primary btn-bg" type="button"onclick="location.href='/user/mypage/<%=@login_user_token%>'">趣味の登録・設定<i class="fas fa-cog" style="margin-left:2px;"></i></button>
    </div>
  </div>
  <% end %>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <p><strong>所属メンバー</strong></p>
      <% if @group_users.size > 0 %>
      <% @group_users.each_with_index do |user,i| %>
      <div style="display:inline-flex">
        <input type="button" class="btn btn-link" value="<%= user.name %>" onclick="<%="entryUserIntro(#{i})"%>">
      </div>
      <div id="<%="intro_hidden#{i}"%>" style="display: none; margin-left:0.75rem;">
        <% if user.intro %>
        <div class="card border-success bg-light mb-3" style="max-width: 30rem; min-width: 12rem;">
          <div class="card-body"><%= simple_format(html_escape(user.intro)) %><ul style="list-style: none; padding-left: 0;">
          </ul></div>
        </div>
        <% else %>
        <div class="card border-success bg-light mb-3" style="max-width: 30rem; min-width: 12rem;">
          <div class="card-body"><span style="color: gray;">詳細情報が設定されていません</span><ul style="list-style: none; padding-left: 0;">
          </ul></div>
        </div>
        <% end %>
      </div>
      <div style="float:none;"></div>
      <% end %>
      <% else %>
      <p style="color: gray;">まだメンバーがいません</p>
      <p style="color: gray;">グループにメンバーを誘いましょう！</p>
      <% end %>
    </div>
  </div>


  <hr>
  <div><strong>メンバーの登録している趣味一覧</strong></div>
  <div style="font-size: 0.8rem;">
    グループ内のメンバーの「公開する」に設定されている趣味の一覧です。<br>
    「公開しない」に設定されている趣味は表示されません。
  </div>
  <div style="margin-top: 5px;"></div>
  <%if @group_open_hobbies.size > 0%>
  <ul class="list-group" style="max-width: 400px;">
    <% @group_open_hobbies.each do |hobby| %>
    <li class="list-group-item" style="max-width:100%;">
      <%= "#{hobby.hobby_name}" %>
    </li>
    <% end %>
  </ul>
  <% else %>
  グループ内で公開されている趣味はまだありません<br>
  趣味を公開すると同じ趣味を持っている人が気づいてくれるかもしれません
  <% end %>
  <hr>

  <%= @group_name %>への参加リンクを共有する<br>
  <textarea readonly id="fe_text" name="" rows="1" cols="20"><%= request.url %></textarea><br>


  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Hobbyshareのグループ<%= @group_name %>で共通の趣味を確認してみませんか？" data-hashtags="hobbyshare" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="<%= request.url %>" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <%= form_tag("/group/qrcode") do %>
  <input type="hidden" name="url" value="<%= request.url %>">
  <%= button_tag :type => "submit", :class =>"btn btn-primary btn-sm", formtarget: "_blank" do %>
  <i class="fas fa-qrcode"></i> QRコードを発行
  <% end %>
  <% end %>
</div>
