<h1>グループメンバー一覧表示のページです</h1>

<h3><%= Group.find(@gid).group_name %>に所属しているメンバー</h3>
<!-- group_user_allに格納したレコードのうち、ユーザ名は表示に、IDをリンクに利用する -->
<ol>
<% @group_user_all.each do |user| %>
  <%= form_tag("/user/group_login") do %>
    <li>
      <%= user.name %>
      <input type="hidden" name="user_id" value="<%= user.id%>">
      <input type="hidden" name="group_id" value="<%= @gid %>">
      <% if user.group_password.nil? %>
      <% else %>
        <input pattern="^[0-9A-Za-z]+$" type="password" name="group_password">
      <% end %>
      <input type="submit">
    </li>
  <% end %>
<% end %>
</ol>
<br>
<hr>
<h3>メンバーを追加する</h3>
<%= form_tag("/user/new_member") do %>
  <input type="hidden" name="group_id" value="<%= @gid %>">
  <input  name="user_name">
  <input type="submit">
<% end %>

<hr>
<p>初めてこのページを開いた場合、<br>
仮のユーザ名（番号）が用意されています。<br>
友達同士で決めた番号と同じ番号のユーザを選択してください。<br>
パスワードを設定していないユーザは空欄のまま送信ボタンを押してください</p>
