<header class="bg-info py-5 mb-5">
  <div class="container h-100">
    <div class="h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-5 text-white mt-1 mb-1"><%= @group_name %>のメンバーリスト</h1>
      </div>
    </div>
  </div>
</header>
<div class="container main">
    <!-- セッションのアカウントIDを確認して、あるかないかで分岐 -->
    <% if @login_uid == nil %>
    <button class="btn btn-primary btn-lg" type="button"onclick="location.href='/group/add_member/<%=@group_token%>'">このグループに参加する</button>
    <% else %>
    <strong><%= @login_uname %></strong>としてこのグループに参加しています
    <br>
      <% if @hobby_haven == 'true'%>
      <button class="btn btn-success btn-lg" type="button"onclick="location.href='/user/show/<%=@login_user_token%>'">同じ趣味を持つ人を探す</button>
      <button class="btn btn-primary btn-bg" type="button"onclick="location.href='/user/mypage/<%=@login_user_token%>'">詳細設定</button>
      <% else %>
      <button class="btn btn-secondary btn-bg" type="button" onclick="">まだ趣味が登録されていません</button>
      <button class="btn btn-primary btn-bg" type="button"onclick="location.href='/user/mypage/<%=@login_user_token%>'">詳細設定</button>
      <% end %>
    <% end %>
    <hr>
  <div class="row">
    <div class="col-md-8">
      <% if @query_guser.size > 0 %>

      <strong>所属メンバー</strong>
    <ol>
      <% @query_guser.each do |user| %>
      <div style="display:inline-flex">
        <%= form_tag("/user/delete") do %>
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <button type="submit" class="btn btn-secondary btn-sm" type="button" onclick='return subcheck_name("<%= user.name %>")'><i class="far fa-trash-alt"></i></button>
        <% end %>
        <%= user.name %>
      </div>
      <br>
      <% end %>

    </div>
  </div>
  <hr>
  <% end %>
  <strong>グループのおすすめ趣味</strong>
  <br>
  ここで登録された趣味は、「詳細設定」の「おすすめ趣味一覧」の候補に追加されます
  <%= form_tag("/user/dummy_newhobby") do %>
  <input name="hobby_name" class="form-control" required>
  <input type="hidden" name="user_id" value="<%= Group.find(@gid).dummyuser %>">
  <input type="hidden" name="group_id" value="<%= @gid %>">
  <input class="btn btn-primary btn-bg" type="submit" value="趣味を登録">
  <% end %>
  <%if @dummy_hobbies.size > 0%>
  <hr>
  <summary><strong>登録済みのおすすめ趣味一覧</strong></summary>
  <% @dummy_hobbies.reverse_each do |hname| %>
  <tr>
    <td>
      <div style="display:inline-flex">
      <%= form_tag("/user/dummyhobby_delete") do %>
      <input type="hidden" name="user_id" value="<%= Group.find(@gid).dummyuser %>">
      <input type="hidden" name="hobby_id" value="<%= hname.id %>">
      <input type="hidden" name="group_id" value="<%= @gid %>">
      <button class="btn btn-secondary btn-sm" type="submit" value="削除" onclick='return subcheck_name("<%= hname.hobby_name %>")'><i class="far fa-trash-alt"></i></button>
      <% end %>
      <%= "#{hname.hobby_name}" %>
      </div>
      <br>
    </td>
  </tr>
  <% end %>
  <%end%>
  <hr>

  <br>

  <br>
  <%= @group_name %>への参加リンクを共有する<br>
  <textarea readonly id="fe_text" name="" rows="1" cols="20"><%= request.url %></textarea><br>


  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Hobbyshareのグループ<%= @group_name %>で共通の趣味を確認してみませんか？" data-hashtags="hobbyshare" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="<%= request.url %>" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <!-- おすすめ趣味一覧の下にスペースを入れるための空のタグ -->
  <div><p></p></div>
  <%= form_tag("/group/qrcode") do %>
  <input type="hidden" name="url" value="<%= request.url %>">
  <%= button_tag :type => "submit", :class =>"btn btn-primary btn-sm", formtarget: "_blank" do %>
    <i class="fas fa-qrcode"></i>QR
  <% end %>
<% end %>
</div>
