<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">ここは<%= @account_name %>さんのマイページです</h1>
        <p class="text-white">ここでは自分が所属しているグループや趣味の登録が行えます。</p>
      </div>
    </div>
  </div>
</header>


<div class="container main">

  <div class="row">
    <div class="col-md-8 mb-5">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>所属グループ</th>
            <th>グループ内で使用している名前</th>
            <th>お気に入り趣味をコピーする</th>
          </tr>
        </thead>
        <tbody>

          <% @users.each do |user| %>
          <% group = Group.find_by(id:user.group_id) %>
          <tr>
            <td>
              <a href="/group/list/<%=group.token%>"><%=group.group_name%></a>
            </td>
            <td>
              <a href="/user/mypage/<%=user.token%>"><%=user.name%></a>
            </td>
            <td>
              <%= form_tag("/user/ac_newhobbies") do %>
              <input type="hidden" name="user_id" value="<%= user.id %>">
              <input type="hidden" name="group_name" value="<%=group.group_name%>">
              <input type="hidden" name="account_id" value="<%= @account_id %>">
              <input class="btn btn-primary btn-sm" type="submit" value="登録" onclick='return ac_subcheck("<%=group.group_name%>","<%=user.name%>")'>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
          </table>

            <h4>お気に入り趣味の登録</h4>
            <p>一括登録したい趣味を登録できます</p>
            <%= form_tag("/user/account_newhobby") do %>
            <input name="hobby_name" required>
            <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
            <input class="btn btn-primary btn-sm" type="submit" value="登録する">
            <% end %>
            <br>
            <% if @users_hobbies.size > 0 %>
            <hr>
            <h4>あなたが登録している趣味</h4>
            <!-- ここにユーザが登録してある趣味を全て表示する -->
            <table class="table table-borderless">
              <tbody>
              <% @users_hobbies.each do |hname| %>
              <tr>
                <td>
                  <%= "#{hname.hobby_name}" %>
                </td>
                <!-- 趣味の削除ボタン -->
                <td>
                  <%= form_tag("/user/account_hobby_delete") do %>
                  <input type="hidden" name="account_id" value="<%= @account_id %>">
                  <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
                  <input type="hidden" name="hobby_id" value="<%= hname.id %>">
                  <input class="btn btn-primary btn-sm" type="submit" value="削除" onclick="return subcheck()">
                </td>
                <% end %>
              </tr>
              <% end %>
              </tbody>
          </table>
          <% end %>
        </div>
      </div>
      <hr>
      <input type="button" class="btn btn-link" value="トップページへ戻る" onclick="location.href='/'">
    </div>
