<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-5 text-white mt-1 mb-1">ここは<%= @account_name %>さんのマイページです</h1>
        <p class="text-white">ここでは自分が所属しているグループや趣味の登録が行えます。</p>
      </div>
    </div>
  </div>
</header>


<div class="container main">

  <div class="row">
    <div class="col-md-8 mb-5">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>所属グループ</th>
            <th>グループ内の名前</th>
            <th>趣味を一括登録する</th>
          </tr>
        </thead>
        <tbody>

          <% @users.each do |user| %>
          <% group = Group.find_by(id:user.group_id) %>
          <tr>
            <td>
              <a href="/group/list/<%=group.token%>"><%=group.group_name%></a>
            </td>
            <td>
              <a href="/user/mypage/<%=user.token%>"><%=user.name%></a>
            </td>
            <td style="text-align: center;">
              <%= form_tag("/user/ac_newhobbies") do %>
              <input type="hidden" name="user_token" value="<%= user.token %>">
              <input type="hidden" name="group_name" value="<%=group.group_name%>">
              <input class="btn btn-primary btn-sm" type="submit" value="登録" onclick='return ac_subcheck("<%=group.group_name%>","<%=user.name%>")'>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
          </table>

            <h4>趣味の登録</h4>
            <p>
              複数のグループで使いたい趣味を登録しましょう。<br>
              グループに参加した際、趣味をまとめて登録できます。
            </p>
            <%= form_tag("/user/account_newhobby") do %>
            <div class="input-group" style="max-width:400px;">
            <input name="hobby_name" class="form-control" required>
            <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
            <span style="padding-right: 5px;"></span>
            <input class="btn btn-primary btn-bg" type="submit" value="登録">
          </div>
            <% end %>
            <% if @users_hobbies.size > 0 %>
            <hr>
            <!-- ここにユーザが登録してある趣味を表示する -->
            <div>
              <% @users_hobbies.each_with_index {|hobby,i| %>
                <div class="box8_noopen">

                  <div class="appear-contents" style="display:flex; flex-flow:row nowrap;">

                    <div class="list-inline-item" style="padding-top:4px; flex:1 1 0; word-break:break-all;">
                      <%= "#{hobby.hobby_name}" %>
                    </div>

                    <div class="option-button" style="flex:0 0 auto; align-self: center;">
                      <!-- 趣味の削除ボタン -->
                      <div style="float: right;">
                        <%= form_tag("/user/account_hobby_delete") do %>
                        <input type="hidden" name="account_id" value="<%= @account_id %>">
                        <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
                        <input type="hidden" name="hobby_id" value="<%= hobby.id %>">
                        <button class="btn btn-light btn-sm" style="margin-right: 0;" type="submit" onclick="return subcheck()"><i class="far fa-trash-alt"></i></button>
                        <% end %>
                      </div>
                      <!-- 趣味の表記揺れ対策登録ボタン -->
                      <div class="list-inline-item" style="float: right; margin-right: 0.25em;" >
                        <button class="btn btn-info btn-sm" style="margin-right: 0;" onclick="<%="entrySimilarHobby(#{i})"%>">詳細</button>
                      </div>
                    </div>
                  </div>


                  <% if !@has_alias[i] #趣味の別名が無い場合 %>
                  <!-- 趣味の表記揺れ対策登録隠しフォーム -->
                  <div id="<%="regist_hidden#{i}"%>" style="display: none;">
                    <!-- 別名の追加ボタン -->
                    <div style="margin-top: 5px; max-width: 100%; display:flex; flex-flow:row nowrap;">
                      <div style="max-width: 2.5rem; flex:1 1 0;"></div>
                      <%= form_tag("/user/ac_similar_hobby") do %>
                      <div class="input-group" style=" flex: 0 0 auto;">
                        <input name="similar_hobby_name" class="form-control-sm" style="border: 1px solid #ccc;"required>
                        <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
                        <input type="hidden" name="hobby_id" value="<%= hobby.id %>">
                        <span class="input-group-btn" style="padding-right: 3px;"></span>
                        <span class="input-group-btn">
                          <button class="btn btn-info btn-sm" style="margin-right: 0px;" type="submit">別名の追加</button>
                        </span>
                      </div>
                      <% end %>
                    </div>
                  </div>

                  <% else #趣味の別名がある場合 %>
                  <div id="<%="regist_hidden#{i}"%>" style="display: none;">
                    <% alias_names = @alias_names_queue.shift %>
                    <% alias_ids = @alias_ids_queue.shift %>
                    <% alias_names.each_with_index do |alias_name, index| %>
                    <div style="display:flex; flex-flow:row nowrap; margin-top: 5px;">
                      <!-- 別名表示 -->
                      <div style="flex:1 1 0; display:flex; flex-flow:row nowrap; word-break:break-all;">
                        <div class="list-inline-item pl-2" style=" flex: 0 0 auto; align-self: center;">
                          <u>別名<%= index+1 %></u>
                        </div>
                        <!-- 趣味の別名の表示 -->
                        <div class="list-inline-item pl-1" style="flex:1 1 0; align-self: center;">
                          <%=  alias_name %>
                        </div>
                      </div>
                      <!-- 趣味の別名の削除ボタン -->
                      <div class="list-inline-item" style=" flex: 0 0 auto; margin-right: 1rem; align-self: center;">
                        <%= form_tag("/user/ac_similar_hobby_delete") do %>
                        <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
                        <input type="hidden" name="similar_hobby_id" value="<%= alias_ids[index] %>">
                        <button class="btn btn-light btn-sm" type="submit" onclick="return subcheck()"><i class="far fa-trash-alt"></i></button>
                        <% end %>
                      </div>
                    </div>
                    <% end %>


                    <!-- 別名の追加ボタン -->
                    <div style="max-width: 100%; margin-top: 5px; display:flex; flex-flow:row nowrap;">
                      <div style="max-width: 2.5rem; flex:1 1 0;"></div>
                      <%= form_tag("/user/ac_similar_hobby_add") do %>
                      <div class="input-group" style=" flex: 0 0 auto;">
                        <input name="similar_hobby_name" class="form-control-sm" style="border: 1px solid #ccc;"required>
                        <input type="hidden" name="user_id" value="<%= @dummy_user_id %>">
                        <input type="hidden" name="hobby_id" value="<%= hobby.id %>">
                        <span class="input-group-btn" style="padding-right: 3px;"></span>
                        <span class="input-group-btn">
                          <button class="btn btn-info btn-sm" style="margin-right: 0px;" type="submit">別名の追加</button>
                        </span>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>

                </div>
                <% } %>

              </div>


          <% end %>
        </div>
      </div>
    </div>
