<!DOCTYPE html>
<html>
  <head>
    <title>Hobbyshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <meta name="viewport" content="width=device-width">
  <body>
    <!-- flash[:notice]に中身があれば表示 -->
    <header>
      <%= link_to 'トップへ戻る', '/' %>
    </header>
    <% if flash[:notice] %>
      <p><font color="red"><%= flash[:notice] %></font></p>
    <% end %>
    <!-- 本文 -->
    <%= yield %>
  </body>
</html>
